body{
	height: 100%;
	width: 100%;
	overflow: hidden;
	text-align: center;
	padding: 0px 0px ;
	margin: 0px;
	background: #f6f6f6;
}
html,body,img,div,ul,li,a,h3{
	-webkit-touch-callout: none;

	-moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
  	user-select: none;
	-webkit-tap-highlight-color: transparent; 
}

.login_content{
	height: 50%;
	width: 100%;
	/*padding: 20px 15px 0px 15px;*/
	text-align: center;
	margin-left:0 auto;
	margin-right: 0 auto;
	
}
.title{
	color: #FFFFFF;
	width: 100%;
	text-align: center;
	font-weight: bold;
	font-size: 1.6em;
	padding-top: 10%;
	padding-bottom: 10%;
}

.user_content{
	margin-left: 20px;
	margin-right: 20px;
	border: 2px solid #d7d7d7;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	/*padding:10px;*/
	padding: 10px 0px;
	background: #ffffff;

}
.username_content,.password_content{
	position: relative;
	display: block;
	height: 40px;
	width: 100%;
}
.password_content{
	margin-top: 7px;
	height: 32px;
}
.username_content div , .password_content div{
	display: inline;
	float: left;
	height: 32px;
	width: 15%;
	border-right: 1px solid #d7d7d7;
	text-align: left;
	margin-left: 3%;
}
.username_content div img , .password_content div img{
	width: 28px;
	height: 28px;
}
.username_content input , .password_content input{
	float: right;
	width: 76%;
	height: 28px;
	border: 0px;
	outline: none;
	color: #adadad;
	font-size: 1em;
	font-weight: bold;
}
.divide{
	display: block;
	height: 2px;
	width: 100%;
	background: #d7d7d7;
}
.remember_content{
	position: relative;
	width: 100%;
	padding-top: 10px;
}
.remember_content .rememberMe{
	position: relative;
	text-align: left;
	float: left;
	height: 20px;
}
.remember_content .rememberMe input{
	position: absolute;
	left: 35px;
	width: 25px;
	height: 20px;
	margin:0px;

}
.remember_content .rememberMe span{
	width: 150px;
	position: absolute;
	height:20px;
	left: 58px;
	color: white

}

.forget_content{
	float: right;
	margin-right: 40px;
	height:20px;
	color: white;
}

.login_btn_content{
	padding-top: 15%;
	width: 100%;
	height: 60px;


}
#login_btn{
	background:#0da220;
	width: 80%;
	height: 48px;
	border: 0px;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	margin-left: auto;
	margin-right: auto;
	font-weight: bold;
	font-size: 1.2em;
	color: #ffffff;
	position: relative;
	z-index: 2;
}

.bottom_content{
	overflow: hidden;
	width: 100%;
	height: 40%;
	position: absolute;
	bottom: 0px;
}
.bottom_content img{
	padding-top: 20%;
	width: 100%;
	height: 70%;
}
/*
.rememberAccount{
	position:relative !important;
	top:2px !important;
	color: white;

}*/

input:focus{
	outline: none !important;
	border-color: transparent !important;
	background-color: white !important;
	-webkit-tap-highlight-color:rgba(0,0,0,0) !important; 
    -webkit-user-modify:read-write-plaintext-only !important; 
}