/* 列表信息样式 example:com.csair.todo/routesInternshipAudit.html*/
.listCommon{
	background-color:rgb(246,246,246);
	border-bottom:1px #E3E3E3 solid;
	border-top:1px white solid;
	font-size:14px;
	color:rgb(101,101,101);
	height: 46px;
	line-height:20px;
}

/* 灰色标题样式 example:com.csair.todo/crewAgencyConfirm.html*/
.titleCommon{
	height:35px;
	width:100%;
	background-color:rgb(187,187,187);
	padding-left:20px;
	font-size: 18px;
	color:#FFFFFF;
}