.recordItem{
		height:60px;
		font-size:14px;
		position: relative;
	}
	.cube-list-item:nth-child(2n-1){
		/*background-color: rgb(246,246,246);*/
	}
	.flightInfo{
		color:rgb(30,30,30);
		font-size:14px;
		font-weight:80;
	}

	.flightAirport{
		padding:3px;
		color: rgb(123,123,123);
	}
	.detailMore{
		color: rgb(79,79,79);
	}

	.flight_cancel{
		color:red;
	}
	.flight_delay{
		color:rgb(242,163,5);
	}
	.flight_departure{
		color:rgb(0,95,198);
	}
	.flight_landing{
		color:green;
	}