html ,body{
	margin: 0 auto;
	padding: 0 auto;
	width: 100%;
	overflow: hidden;
	border:solid 0px #000000;
	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright:6px;
	-webkit-border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;
}
html,body,img,div,ul,li,a,h3{
	-webkit-touch-callout: none;

	-moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
  	user-select: none;
	-webkit-tap-highlight-color: transparent; 
}

.btn{
	border:1px solid #b8b8b8 ;
}

.topContent{
	background:-webkit-gradient(linear, 0% 96%, 0% 0%, from(#397cbb), to(#54a4df));
	background-repeat: repeat-x;
	width: 100%;
	height: 46px;
	display: block;
	padding-top: 8px;
	text-align: center;
	position: absolute;
	top: 0px;
	border:solid 0px #000000;
/*	-moz-border-radius-topleft: 6px;
	-moz-border-radius-topright:6px;
	-webkit-border-top-left-radius:6px;
	-webkit-border-top-right-radius:6px;
	border-top-left-radius:6px;
	border-top-right-radius:6px;*/
}
/*.topContent .left_btn_div{
	width: 17%;
	height: 32px;
	float: left;
	display: inline;
	text-align: left;
	/*padding-left: 10px;
	position: relative;
	bottom: 2px;
	overflow: visible;
}
*/

.topContent h3{
	position: relative;
	top:-12px;
	color:#ffffff;
	font-weight: bold;
}
.left_btn, .right_btn{
	position: absolute;
	background:-webkit-gradient(linear, 10% 100%, 10% 100%, from(#5390d5), to(#60a5e1));
	border: 2px solid #2a66a7;
	height: 32px;
	width: 52px;
	font-size: 0.8em;
	color: #fff;
	top: 8px;
	z-index: 2;
}
.left_btn{
	left: 10px;
	height: 20px;
width: 24px;
}
.right_btn{
	right:10px;
	height: 20px;
	width: 24px;
}
.left_btn:active , .right_btn:active{
	background:-webkit-gradient(linear, 10% 100%, 10% 100%, from(#67aee2), to(#417dbe));
	border: 2px solid #3772ba;
}
.left_btn .set_img{
	position: relative;
	height: 20px;
	width: 20px;

}

/*.topContent .title_div{
	width: 66%;
	float: left;
	height: 32px;
	display: inline;
	text-align: center;
	position: relative;
	top: 4px;
	font-weight: bold;
	color: #ffffff;
	font-size: 1.6em;
	
}*/

/*.topContent .right_btn_div{
	position: relative;
	top: 0px;
	width: 17%;
	height: 32px;
	display: inline;
	float: left;
	text-align: right;
	z-index: 4;
}*/
.searchContent{
	/*background-color: #D7D7D7;*/
	background:-webkit-gradient(linear, 10% 100%, 10% 100%, from(#d7d7d7), to(#c8c8c8));
	width: 100%;
	height: 60px;
	padding-top: 9px;
	border-bottom: 1px solid #b8b8b8;
	position: relative;
}
.searchContent .inputContent{
	position: absolute;
	display: inline;
	width: 100%;
	background: #d7d7d7;
	height: 30px;
}
.searchContent .inputContent .icon-search {
	position: relative;
	left: 30px;
	top:2px;
}
.searchContent .del_content{
	position: relative;
	right: 30px;
	/*display: inline;*/
	display: none;
	height: 20px;
	width: 20px;
}
.searchContent .del_content img{
	height: 20px;
	width: 20px;
}

.searchContent .layout_bt_group{
	position: relative;
	padding-right:10px;
	float: right;
	width:24%;
	text-align:right;
	background: #d7d7d7;
	height: 30px;
	overflow: hidden;
}
/*.layout_bt_group .btn:first-child{
	position: relative;
	left:1px;
}
.layout_bt_group .btn:last-child{
	position: relative;
	right:  2px;
}*/
.searchContent .account_content{
	text-align: center;
	color: #e56600;
	width: 100%;
	position: absolute;
	height: 22px;
	bottom:8px;
	background: #d7d7d7;
}
.account_content h4{
background: #d7d7d7;
}

.searchContent .inputContent #searchInput{
	padding-left: 2.1em;
	width: 55%;
	min-width:140px;
	outline: none;
	-webkit-tap-highlight-color: transparent; 
	-moz-box-shadow:0px 0px 0px #FFFFFF;
	-webkit-box-shadow:0px 0px 0px #FFFFFF;
	box-shadow:0px 0px 0px #FFFFFF;
	border: 0px solid #ffffff;

}
/*#searchInput:focus{
	outline:none;
	border: 0px solid #ffffff;
	-webkit-tap-highlight-color: transparent; 
	-moz-box-shadow:0px 0px 0px #FFFFFF;
	-webkit-box-shadow:0px 0px 0px #FFFFFF;
	box-shadow:0px 0px 0px #FFFFFF;
	 outline-offset: 0px;
}*/

.mainContent{
	width: 100%;
	overflow: auto;
	height:0 auto;
	color: #ABABAB;
	padding-bottom:20px;
}
#myul{
	padding-bottom:10px;
}

#wrapper {
	position:absolute; z-index:1;
	top:48px; bottom:0px; left:0;
	width:100%;
	height:100% + 48px;
	/*background:url('../img/scroll_content_backgorund.png');*/
	background:#e8e8e8;
	overflow:auto;
}
#wrapper #scroller{
	height: 0 auto;
	width:100%;
}







.buttomContent{
	display:none;
	position: absolute;
	bottom: 0px;
	z-index: 1;
	width: 100%;
	height: 50px;
	background-color: #D7D7D7;
	overflow: hidden;
}
.buttomContent .buttom_btn_group{
	background-color: #D7D7D7;
	position:relative;
	top:10px;
	width: 100%;
	height:100%;
	text-align: center;
}

.buttomContent .buttom_btn_group .btn{
	height:72%;
	width: 32%;
	letter-spacing:5px;
}
.buttomContent .buttom_btn_group :first-of-type{
	border-top-left-radius:8px;
	border-bottom-left-radius:8px;
	-moz-border-top-left-radius:8px;
	-moz-border-bottom-left-radius:8px;
	-webkit-border-top-left-radius:8px;
	-webkit-border-bottom-left-radius:8px;
}
.buttomContent .buttom_btn_group :last-of-type{
	border-top-right-radius:8px;
	border-bottom-right-radius:8px;
	-moz-border-top-right-radius:8px;
	-moz-border-bottom-right-radius:8px;
	-webkit-border-top-right-radius:8px;
	-webkit-border-bottom-right-radius:8px;
}


.buttomContent .btn-group{
	width: 100%;
	padding-left: 5%;
}

.buttomContent .btn-group .btn{
	width: 30%;
	display : block !important;
	float: left;
}

